<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DatabaseHost" value="localhost" />
    <add key="DatabasePort" value="5432" />
    <add key="DatabaseName" value="Coursework tester" />
    <add key="AuthUsername" value="app_auth" />
    <add key="AuthPassword" value="change_me_auth_password" />
    <add key="Version" value="1.0.0" />
    <add key="UpdateConfigPath" value="update.yml" />
    <add key="CheckUpdatesOnStartup" value="false" />
    <add key="WatcherConfigPath" value="watcher.yml" />
    <add key="WatcherExecutablePath" value="SystemWatcher.exe" />
  </appSettings>
</configuration>
